@CHARSET "UTF-8";

/*------------------------------
=BASIC SETUP
------------------------------*/ /* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header,footer,section,aside,nav,article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	background: #F0F0F0;
	height: 100%;
}

h1,h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

#top {
	font-size: 17px;
}

ul {
	list-style: none;
}

#top ul {
	list-style: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

#top ul li {
	padding-left: 0.6em;
	padding-top: 3px;
	display: inline;
}

#section {
	background-image: url(../images/intro_background.png);
	background-repeat: repeat-x;
	color: #FFFFFF;
	padding-left: 20px;
}

#main {
	float: left;
	padding-left: 20px;
	padding-top: 25px;
}

#main   a {
	margin-right: 20px;
	/*width: 200px;*/
	font-size: 14px;
	text-align: right;
	text-decoration: none;
	color: #099;
}

#main  a:hover {
	color: #090;
	text-decoration: underline;
}

<!--
http: //www.smashingmagazine.com /2008/08/13/top-10-css-table-designs/-->
	  
#right {
	float: right;
	background: #F0F0F0;
	margin-left: .8em;
	padding-bottom: 1px;
	height: 50em;
	background-repeat: repeat-x;
	padding-right: .3em;
}

#right ul {
	margin: 0 0 0 12px;
	list-style: none;
}

#right ul li a {
	display: block;
	text-decoration: none;
	color: #000;
}

#right ul li a:hover {
	text-decoration: underline;
}

#right div {
	background-image: url(../images/sidebar_section_background.png);
	background-repeat: repeat-x;
	color: #000000;
	margin: 0;
	width: 240px;
	padding-left: .3em;
}

#content {
	background-color: white;
	margin: 0;
	padding: 0px;
}

#footer {
	text-align: center;
	background-image: url(../images/intro_background.png);
	color: black;
	height: 60px;
	padding-top: 20px;
}

#content #main  input {
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}

/*------------------------------
=NAVIGATION
------------------------------*/
nav {
	left: 0;
	width: 100%;
	height: 20px;
	background: url("../images/nav_background.png");
}

nav table {
	margin: 0 auto;
	list-style: none;
}

nav   a {
	margin-right: 20px;
	/*width: 200px;*/
	font-size: 14px;
	text-align: right;
	text-decoration: none;
	color: #ffffff;
}

nav  a:hover {
	color: #050;
}

/*------------------------------
=FOOTER
------------------------------*/
footer {
	left: 0;
	background: #555;
	padding: 10px;
}

footer div {
	display: table;
	margin: 0 auto;
	padding: 14px 0;
	color: #777;
}

footer div section {
	display: table-cell;
	width: 300px;
}

footer div #about,footer div #blogroll {
	padding-right: 20px;
}

footer h3 {
	color: #FFF;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #FFF;
	text-decoration: none;
}

footer ul {
	margin: 0 0 0 40px;
	list-style: square;
	color: #565656;
}

footer ul li a {
	display: block;
}