HR.dark {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; MARGIN: 1px 0px 10px; WIDTH: 100%; COLOR: #f0f0f0; BORDER-BOTTOM: #8f8f8f 1px dashed; HEIGHT: 0px; BACKGROUND-COLOR: #f0f0f0; clear: both;
}

#accounts_rates h2, #sign_me_up h2 {
	cursor:pointer;
}
.collapsed {
	display:none;
}
#accounts_rates .collapsed {
	padding-left:20px;
}
.collapsed .info {
	width:327px;
	float:left;

}
.collapsed .info img {
	margin-right:5px;
}
.collapsed .rate {
	width:200px;
	text-align:center;
	float:right;
	color: #000066;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	/*position:relative;*/
}
.collapsed .rate p.legal {
	font-size:11px;
	text-align:center;
	color:#000066;
	font-weight:normal;
}

.collapsed .account {
	border-bottom:1px dashed #d4d4d4;
	padding:3px 0px;
	float: left;
	clear: both;
	width: 100%;
}
.collapsed .account.last {
	border:none;
	margin-bottom:20px;
}
.collapsed .account h3 {
	float:left;
	width:260px;
	padding-top:3px;
	margin-bottom:0px;
}

.collapsed .account h3.fr {
	width:190px;
}

.collapsed .account .rate {
	float:left;
	width:95px;
	font-size:12px;
	padding-top:3px;
	margin-bottom:0px;
	text-align:right;
}
.collapsed .account img {
	float:right;
	margin-left:5px;
}
		
.toggle_button {
	cursor:pointer;
}
table#interest_rates {
	background: url(/images/bkg_interest_rate_table.gif) top center repeat-y;
	border-collapse:collapse;
	width:177px;
	margin:0 auto 10px auto;
}
table#interest_rates tbody td, table#interest_rates tbody th {
	border-bottom:1px dashed #d4d4d4;
	font-size:12px;
	color:#000066;
}
table#interest_rates tbody th {
	text-align:right;
}
table#interest_rates tbody td.middle {
	color:#f28233;
	padding-left:5px;
}
table#interest_rates tbody tr.last td, table#interest_rates tbody tr.last th {
	border:none;
	line-height:12px;
	padding-top:6px;
}

img.tax-free-tout {
	float:right;
	margin:10px 0 50px 10px;
}

#product_details {
	width:366px;
	background-color:#f2f2f2;
	margin-bottom:10px;
}
#product_details img {
	display:block;
	clear:both;
}
.product_detail {
	width:342px;
	margin:0 12px;
	background-color:#ffffff;
}
.product_detail h2 {
	margin:0 10px 0 10px;
	background: url(/images/img_arrow_expand.gif) 300px 2px no-repeat;
	cursor:pointer;
}
.product_detail .expandable {
	margin-top:5px;
	display:none;
}
.product_detail .expandable p {
	margin-left:15px;
	margin-right:10px;
}
.product_detail .expandable p.hide_details {
	float:right;
	cursor:pointer;
	color:#FF6600;
	text-decoration:underline;
}

#faqs, 
#contact_faqs {
	width:557px;
	background-color:#f2f2f2;
	margin-bottom:10px;
}
#faqs img,
#contact_faqs img {
	display:block;
	clear:both;
}
.faq_section {
	width:533px;
	margin:0 12px;
	background-color:#ffffff;
}
.faq_section h2 {
	margin:0 10px 0 10px;
	background: url(/images/img_arrow_expand.gif) 495px 2px no-repeat;
	cursor:pointer;
}
.faq_section h2.open {
	background: url(/images/img_arrow_collapse.gif) 495px 2px no-repeat;
}
#contact_faqs .faq_section h2 {
	background:none;
	cursor:auto;
}
.faq_section .expandable {
	margin-top:5px;
	display:none;

}
.faq_section .expandable p {
	margin-left:15px;
	margin-right:10px;
}
.faq_section .expandable p.hide_details {
	text-align:right;
	cursor:pointer;
	color:#FF6600;
	text-decoration:underline;
	font-weight:bold;
}
.faq_item .faq_q {
	padding: 3px 60px 3px 33px;
	background: url(/images/bkg_li_arrowhead.gif) 22px 8px no-repeat;
	color:#636363;
	cursor:pointer;
}
.faq_item .faq_q.hover {
	color:#ff6600;
	text-decoration:underline;
}
.faq_item .faq_q.open {
	color:#ff6600;
	text-decoration:none;
	font-weight:bold;
}
.faq_item .faq_a {
	margin:5px 0;
	padding: 0 45px 0 60px;
	color:#8d8d8d;
	display:none;
}
.faq_item .faq_a p {
	margin-left:0px;
	margin-right:0px;
}

.faq_item .faq_a table {

}
.faq_item .faq_a td {
	vertical-align:top;
	padding:5px;
}

/* THESE ITEM OVERWRITES SOMETHING IN FRAMEWORK.CSS */
#feature {
	height:340px;
}
#homeproducts {
	width:auto;
}
#homeproducts h2 {
	border:none;
	padding:0;
}
#homeproducts .navSub li {
	width:215px;
}
/*--------------------*/
#homeproducts .home_column {
	width:220px;
	float:left;
	padding:0 10px 20px 10px;
	border-left:1px dashed #A9A9A9;
}
#homeproducts .home_column.first {
	border:none;
}
