/* $Id: ing_form.css 5197 2006-11-17 14:07:36Z vasyl $ */
/*
 "zpStatusImg" class images for form fields -- apply appropriate rules here.
 The script auto-applies one of each of these CLASS attributes to a series of
  nested <span>s with an innermost .zpStatusImg class <span> we style:
 1) "zpIsRequired" or "zpNotRequired".
 2) "zpIsEditing" or "zpNotEditing".
 3) "zpIsEmpty" or "zpNotEmpty".
 4) "zpIsValid" or "zpNotValid".
  5) Always "zpStatusImg", this is the one styled.
*/

.zpFormING_Form .zpStatusImg,
.zpFormING_Form .zpCommonStatusImg {
		 padding: 0px 6px;
		 height: 18px;
		 line-height: 18px;
		 background-repeat: no-repeat;
		 background-position: center;
		 opacity: 0.66;
		 filter: alpha(opacity=66);
		 margin-left:5px;
		 display: inline-block;
		 float: none;
		 padding-top: 5px;
}

.zpFormING_Form .zpCheckboxStatusImg {   /* Container for checkbox and radio status images */
		 padding: 0px 6px;
		 height: 18px;
		 line-height: 18px;
		 background-repeat: no-repeat;
		 background-position: center;
		 opacity: 0.66;
		 filter: alpha(opacity=66);
		 margin-left:3px;
		 display: inline-block;
		 float: none;
		 padding-top: 5px;
}

.zpFormING_Form .zpIsRequired .zpStatusImg,
.zpFormING_Form .zpIsRequired .zpCommonStatusImg {
 background-image: url(icons/required.gif);
 vertical-align: top;
}

.zpFormING_Form .zpIsEditing .zpNotEmpty .zpStatusImg,
.zpFormING_Form .zpIsEditing .zpNotEmpty .zpCommonStatusImg {
 background-image: url(icons/editing.gif);
}

.zpFormING_Form .zpNotEditing .zpNotEmpty .zpNotValid .zpStatusImg,
.zpFormING_Form .zpNotEditing .zpNotEmpty .zpNotValid .zpCommonStatusImg {
 background-image: url(icons/required_invalid.gif);
}

.zpFormING_Form .zpIsValid .zpStatusImg,
.zpFormING_Form .zpIsValid .zpCommonStatusImg {
 background-image: url(icons/validated.gif);
}

.zpFormING_Form .zpIsFetching .zpStatusImg,
.zpFormING_Form .zpIsFetching .zpCommonStatusImg {
        background-image: url(icons/fetching.gif) !important;
}

/*
 * Controls the look and feel of the form
 */

.zpFormING_Form .errOutput{
  	color: red;
  	display: none;;
	padding-left: 30px;
	font-size: 11pt;
	font-family: "Arial Black", "MS Sans Serif", sans-serif;
}

.zpFormING_Form .fieldError {
  font-weight: bold;
}

.zpFormING_Form input {
  background:#FFFFFF;
  border: solid 1px #7F9DB9;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  height: 20px;
}

.zpFormING_Form textarea {
  background:#FFFFFF;
  border: solid 1px #7F9DB9;
  margin-bottom: 5px;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
  font-size: 12px;
}

.zpFormING_Form .zpFormLabel {
  padding-right: .2em;
  width: 10em;
  margin-top: 0px;
  float: left;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
  font-size: 11px;
  line-height: 22px;
}

.zpFormING_Form .zpConsole {
  background-color: #dddddd;
  width:80%;
  border: 1px solid black;
  padding:.3em;
}

.zpFormING_Form {
  background: #ffffff;
  border: solid 0px black;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
  font-size: 11px;
  padding-top:0px;
}

.zpFormING_Form .zpFormContent{
  background: url("winxp/xpform.jpg") repeat-x bottom #FCFCFE;
  border: solid 1px #919b9c;
  margin: 0px 10px;
  padding: 0px 10px 10px 10px;
}

* html .zpFormING_Form .zpFormContent{ /* IE6 fix */
        padding-top: 10px;
}

.zpFormING_Form .button{
  background: url("winxp/button_xp.gif");
  height: 21px;
  width: 73px;
  border: none;
  line-height: 16px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  margin-left: 10px;
  padding-bottom:2px;
}

* html .zpFormING_Form .button{
  padding-bottom:0px;
}

*:first-child+html .zpFormING_Form .button{ /* IE7 buttontext fix */
        padding-bottom:0px;
}

.zpFormING_Form .zpFormButtons{
  text-align: right;
  margin: 10px;
}


.zpFormING_Form fieldset{
  margin: 0px 0px;
  padding: 0px;
  border: solid 0px;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
}

* html .zpFormING_Form fieldset{
  padding-top: 0px;
}

.zpFormING_Form legend{
  color: #0046DC;
  padding: 3px 5px;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
  font-size: 11px;
}
* html .zpFormING_Form legend{
  margin-bottom: 10px;
}

.zpFormING_Form .zpFormError{
  color: #F73460;
  padding-left: 10px;
  font-weight: normal;
  vertical-align: top;
  line-height: 20px; 
  display: inline-block
}

.zpFormING_Form .multipleButton{
        margin-left: 10px; 
        width: 24px;    
        font-size: 15px;
        vertical-align: top;
        margin-top: 2px;
        text-align: center;
        line-height: 10px;
        padding-top: 1px;
}


* html .zpFormING_Form .multipleButton {  /*IE6 Fix of button height*/
        height:20px;
}

*:first-child+html .zpFormING_Form .multipleButton { /*IE7 Fix of button height*/
        height:20px;
} 

.zpFormING_Form select {
        background:#FFFFFF;
        border: solid 1px #7F9DB9;
        font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
        font-size: 13px;
}

 
.zpFormING_Form .zpFormCheckbox { /*checkbox style*/
        border:none;
}

.zpFormING_Form .zpFormRadio {
        border:none;
}

.zpFormING_Form .zpWrongValue{
	background-color: #EA888C !important;
}

 .zpFormING_Form .dropDownArrow { /* IE7 */
        height: 20px;
        background-image: url(basic/down_arrow_hilite.gif);
        padding: 0px 12px;
        background-repeat: no-repeat;
        margin-left:-1px;
        margin-top:1px;
        display: inline-block;
        cursor: pointer;
}

 .zpFormING_Form .dropDownArrow { /* other */
        background-image: url(basic/down_arrow.gif);
        padding:10px 10px;
        padding-top:0px;
        background-repeat: no-repeat;
        margin-left:-1px;
        display: inline;
        vertical-align:top;
        cursor: pointer;
} 

 * html .zpFormING_Form .dropDownArrow { /* IE6 */
        height: 20px;
        background-image: url(basic/down_arrow_hilite.gif);
        padding: 0px 12px;
        background-repeat: no-repeat;
        margin-left:-1px;
        margin-top:1px;
        display: inline-block;
        cursor: pointer;
}

.zpFormING_Form .dropDownArrow:hover,
	  .zpFormING_Form .dropDownArrow:active
		  .zpFormING_Form .dropDownArrow:focus {
        background-image: url(basic/down_arrow_hilite.gif);
} 

.zpFormING_Form .zpIsRequired .zpCheckboxStatusImg { 
	/* image: if field is required */
        background-image: url(icons/required.gif);
}

.zpFormING_Form .zpIsValid .zpCheckboxStatusImg {  /* image: if requred field is valid */
        background-image: url(icons/validated.gif);
}

.zpFormING_Form .zpExpandedTable, 
.zpFormING_Form .zpExpandedTable td,  
.zpFormING_Form .zpExpandedTable th  {  
        border:1px solid #919B9C;
        border-collapse:collapse;                        
}

.zpFormING_Form .zpExpandedTable span { /* fixes the table cell height error, caused by invisible spans */
        display:none;
}

.zpFormING_Form .zpExpandedTable .multipleButton { /* multiply button in table container */
        margin:2px;
}

.zpFormING_Form .zpRadioLabel { /* label for checkbox and radio elements */
        padding-left: 5px;
        vertical-align:top;
}

